[submodule "straight/repos/ace-jump-mode"]
	path = straight/repos/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "straight/repos/auctex"]
	path = straight/repos/auctex
	url = https://github.com/emacs-straight/auctex.git
[submodule "straight/repos/clang-format"]
	path = straight/repos/clang-format
	url = https://github.com/emacsmirror/clang-format.git
[submodule "straight/repos/clojure-mode"]
	path = straight/repos/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule "straight/repos/color-theme"]
	path = straight/repos/color-theme
	url = https://github.com/emacsattic/color-theme.git
[submodule "straight/repos/company-mode"]
	path = straight/repos/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "straight/repos/compat"]
	path = straight/repos/compat
	url = https://github.com/emacs-straight/compat.git
[submodule "straight/repos/csharp-mode"]
	path = straight/repos/csharp-mode
	url = https://github.com/emacs-csharp/csharp-mode.git
[submodule "straight/repos/dash.el"]
	path = straight/repos/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "straight/repos/el-get"]
	path = straight/repos/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "straight/repos/emacsmirror-mirror"]
	path = straight/repos/emacsmirror-mirror
	url = https://github.com/emacs-straight/emacsmirror-mirror.git
[submodule "straight/repos/epl"]
	path = straight/repos/epl
	url = https://github.com/cask/epl.git
[submodule "straight/repos/evil"]
	path = straight/repos/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "straight/repos/evil-leader"]
	path = straight/repos/evil-leader
	url = https://github.com/cofi/evil-leader.git
[submodule "straight/repos/f.el"]
	path = straight/repos/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "straight/repos/flycheck"]
	path = straight/repos/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "straight/repos/git.el"]
	path = straight/repos/git.el
	url = https://github.com/rejeep/git.el.git
[submodule "straight/repos/gnu-elpa-mirror"]
	path = straight/repos/gnu-elpa-mirror
	url = https://github.com/emacs-straight/gnu-elpa-mirror.git
[submodule "straight/repos/go-mode.el"]
	path = straight/repos/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
[submodule "straight/repos/goto-chg"]
	path = straight/repos/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "straight/repos/let-alist"]
	path = straight/repos/let-alist
	url = https://github.com/emacs-straight/let-alist.git
[submodule "straight/repos/magit"]
	path = straight/repos/magit
	url = https://github.com/magit/magit.git
[submodule "straight/repos/markdown-mode"]
	path = straight/repos/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "straight/repos/melpa"]
	path = straight/repos/melpa
	url = https://github.com/melpa/melpa.git
[submodule "straight/repos/monokai-emacs"]
	path = straight/repos/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule "straight/repos/org"]
	path = straight/repos/org
	url = https://git.savannah.gnu.org/git/emacs/org-mode.git
[submodule "straight/repos/pkg-info"]
	path = straight/repos/pkg-info
	url = https://github.com/emacsorphanage/pkg-info.git
[submodule "straight/repos/rust-mode"]
	path = straight/repos/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "straight/repos/s.el"]
	path = straight/repos/s.el
	url = https://github.com/magnars/s.el.git
[submodule "straight/repos/straight.el"]
	path = straight/repos/straight.el
	url = https://github.com/raxod502/straight.el.git
[submodule "straight/repos/transient"]
	path = straight/repos/transient
	url = https://github.com/magit/transient.git
[submodule "straight/repos/with-editor"]
	path = straight/repos/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "straight/repos/yasnippet"]
	path = straight/repos/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "straight/repos/yasnippet-snippets"]
	path = straight/repos/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "straight/repos/zenburn-emacs"]
	path = straight/repos/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
